# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://jdpyvthbuxyrgwicobmz.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpkcHl2dGhidXh5cmd3aWNvYm16Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTYxNTI0MjUsImV4cCI6MjA3MTcyODQyNX0.w3isD7oqTIcU4WqYFHz_riz1zlyQ5tt7BLAQ82_RJUs
